{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <button onclick="goBack()" style="background:none; border:none; cursor:pointer;">
            <i class="fas fa-arrow-left" style="font-size:24px;"></i>
        </button>
        <h4 class="center-align">{{ category.category }} - Items</h4>
        <div class="row">
            {% for item in items %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ item.image_url }}" alt="{{ item.name }} image">
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{ item.name }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
