{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <!-- Display Flash Messages -->
        <!-- Flash Messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="col s12">
            {% for category, message in messages %}
            <div id="flashMessage" class="card-panel {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <!-- Go Back Button -->
        <button onclick="goBack()" style="background:none; border:none; cursor:pointer;">
            <i class="fas fa-arrow-left" style="font-size:24px;"></i>
        </button>

        <!-- Category Title -->
        <h4 class="center-align">{{ category.category }} - Items</h4>

        <div class="row">
            <!-- Loop through each item -->
            {% for item in items %}
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ item.image_url }}" alt="{{ item.name }} image">
                    </div>
                    <div class="card-content">
                        <!-- Display item name -->
                        <span class="card-title">{{ item.name }}</span>
                        <!-- Display price with pound (£) sign -->
                        <p class="price">Price: £{{ item.price_in_pounds }}</p>

                    </div>
                    <div class="card-action">
                        <!-- Quantity input -->
                        <div class="input-field inline" style="width: 100px;">
                            <input type="number" id="quantity-{{ loop.index }}" min="1" max="{{ item.no_in_stock }}"
                                value="1" class="validate">
                            <label for="quantity-{{ loop.index }}">Quantity</label>
                        </div>

                        <!-- Add to Cart Button -->
                        <a href="#" class="btn teal"
                            onclick="addToCart('{{ category._id }}', '{{ item.name }}', '{{ item.price_in_pounds }}', '{{ loop.index }}')">
                            <i class="fas fa-cart-plus"></i> Add to Cart
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}