{% extends "base.html" %}

{% block content %}
<div class="section">
    <div class="container">
        <h3 class="center-align">My Favorite Recipes</h3>
        <div class="row">
            {% if favorite_recipes %}
                {% for recipe in favorite_recipes %}
                <div class="col s12 m6 l4">
                    <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}" class=" teal-text">
                    <div class="card medium">
                        <div class="card-image">
                            <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}">
                            
                        </div>
                        <div class="card-content">
                            <p><strong>Cuisine:</strong> {{ recipe.cuisine }}</p>
                            <p>{{ recipe['cook_time'] }} | Serves: {{ recipe['servings'] }}</p>

                        </div>
                        <div class="card-action">
                            <span class="teal-text">View Recipe</span>
                        </div>
                    </div>
                </a>
                </div>
                {% endfor %}
            {% else %}
                <p class="center-align">You have no favorite recipes yet.</p><br/>
                <p class="center-align"><a href="{{ url_for('get_index') }}" > <i class="fas fa-arrow-left center teal-text">&nbspBack</i></a></p>

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
