{% extends "base.html" %}

{% block content %}
<!-- Hero Section -->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <div class="header-background">
            <h1 class="header center teal-text text-darken-4">Welcome to Twisties Cookbook</h1>
            <div class="row center">
                <h5 class="header col s12 light"><i>Your ultimate destination for discovering and sharing recipes.</i></h5>
                <div class="row center">
                    <a href="{{ url_for('get_recipes') }}"
                        class="btn-large waves-effect waves-light teal darken-1">Explore Recipes</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}