{% extends "base.html" %}

{% block content %}
<!-- Recipe Detail Section -->
<div class="section">
    <div class="container">
        <div class="row">
            <!-- Recipe Title and Image -->
            <div class="col s12 m6 l5">
                <h1 class="center-align">{{ recipe.title }}</h1>
                <img src="{{ recipe.image_url }}" alt="{{ recipe.title }}" class="responsive-img z-depth-2">
                <!-- Add to Favorite Button -->
                {% if session.get('user') %}
                <form action="{{ url_for('toggle_favorite', recipe_id=recipe._id) }}" method="POST"
                    style="display:inline;">
                    {% if is_favorite %}
                    <button type="submit" class="btn-floating btn-large waves-effect waves-light red"
                        title="Remove from Favorites">
                        <i class="fas fa-heart"></i>
                    </button>
                    {% else %}
                    <button type="submit" class="btn-floating btn-large waves-effect waves-light grey lighten-2"
                        title="Add to Favorites">
                        <i class="far fa-heart"></i>
                    </button>
                    {% endif %}
                </form>
                {% endif %}
            </div>




            <!-- Recipe Details -->
            <div class="col s12 m6 l7">
                <div class="card-panel teal lighten-4">
                    <h5>Recipe Details</h5>
                    <p><strong>Prep Time:</strong> {{ recipe.prep_time }}</p>
                    <p><strong>Cook Time:</strong> {{ recipe.cook_time }}</p>
                    <p><strong>Servings:</strong> {{ recipe.servings }}</p>
                    <p><strong>Cuisine:</strong> {{ recipe.cuisine }}</p>
                </div>
                <div class="card-panel grey lighten-4">
                    <h5>Ingredients</h5>
                    <ul class="collection">
                        {% for ingredient in recipe.ingredients %}
                        <li class="collection-item">{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-panel grey lighten-4">
                    <h5>Preparation Steps</h5>
                    <ul class="browser-default">
                        {% for step in recipe.preparation_steps %}
                        <li>{{ step }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-panel grey lighten-4">
                    <h5>Required Tools</h5>
                    <ul class="collection">
                        {% for tool in recipe.required_tools %}
                        <li class="collection-item">{{ tool }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="card-panel teal lighten-4">
                    <h5>Tags</h5>
                    <div>
                        {% for tag in recipe.tags %}
                        <a href="{{ url_for('get_recipes_by_tag', tag=tag) }}"
                            class="btn-small teal darken-1 waves-effect waves-light">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Share Buttons Section -->
        <div class="row right">
            <h5>Share this Recipe:</h5>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.url }}" target="_blank"
                class="btn-floating btn-large waves-effect waves-light blue">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?url={{ request.url }}&text={{ recipe.title }}" target="_blank"
                class="btn-floating btn-large waves-effect waves-light blue lighten-1">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/" target="_blank"
                class="btn-floating btn-large waves-effect waves-light purple">
                <i class="fab fa-instagram"></i>
            </a>
        </div>

        <div class="row">
            <div class="col s12 center-align">
                <!-- Dynamic Back Button -->
                {% if from_page == 'home' %}
                <a href="{{ url_for('get_index') }}" class="btn-large waves-effect waves-light teal darken-1">Back to
                    Home</a>
                {% elif from_page == 'recipes' %}
                <a href="{{ url_for('get_recipes') }}" class="btn-large waves-effect waves-light teal darken-1">Back to
                    Recipes</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}