{% extends "base.html" %}
{% block content %}
<div class="section">
    <div class="container">
        <button onclick="goBack()" style="background:none; border:none; cursor:pointer;">
            <i class="fas fa-arrow-left" style="font-size:24px;"></i>
        </button>
        <h4 class="center-align">All Recipes</h4>

        <!-- Hidden element to store the URL -->
        <div id="urls" data-recipes-url="{{ url_for('get_recipes') }}" style="display: none;"></div>

        <!-- Search Form -->
        <form id="search-form" method="get" action="{{ url_for('get_recipes') }}" class="row" style="display: block;">
            <div class="input-field col s12">
                <input id="search" name="search" type="text" value="{{ search_term }}">
                <label for="search">Search by Tag, Ingredient, Cuisine, or Tool</label>
            </div>
            <div class="input-field col s12">
                <button type="submit" class="btn waves-effect waves-light">Search</button>
                <button type="button" id="reset-filter" class="btn waves-effect waves-light red">Reset</button>
            </div>
        </form>

        <!-- Display Recipes -->
        <div class="row">
            {% if recipes | length == 0 %}
            <p class="center-align">No records found.</p> <!-- Message displayed when no recipes are found -->
            {% else %}
            {% for recipe in recipes %}
            <div class="col s12 m6 l4">
                <a href="{{ url_for('get_recipe', recipe_id=recipe['_id'], from_page='recipes') }}" class="card-link">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ recipe['image_url'] }}" alt="{{ recipe['title'] }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ recipe['title'] }}</span>
                            <p>{{ recipe['cook_time'] }} Minutes | Serves: {{ recipe['servings'] }}</p>
                        </div>
                        <div class="card-action">
                            <span class="teal-text">View Recipe</span>
                        </div>
                    </div>
                </a>
            </div>

            <!-- Add a new row every 3rd recipe -->
            {% if loop.index % 3 == 0 and not loop.last %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>

        <!-- Pagination Controls -->
        <ul class="pagination center-align">
            <!-- Previous Page Link -->
            <li class="{% if page == 1 %}disabled{% endif %}">
                <a href="{{ url_for('get_recipes', page=page-1, search=search_term) }}"><i
                        class="material-icons">chevron_left</i></a>
            </li>

            <!-- Page Number Links -->
            {% for i in range(1, total_pages + 1) %}
            <li class="{% if i == page %}active teal{% endif %}">
                <a href="{{ url_for('get_recipes', page=i, search=search_term) }}">{{ i }}</a>
            </li>
            {% endfor %}

            <!-- Next Page Link -->
            <li class="{% if page == total_pages %}disabled{% endif %}">
                <a href="{{ url_for('get_recipes', page=page+1, search=search_term) }}"><i
                        class="material-icons">chevron_right</i></a>
            </li>
        </ul>
    </div>
</div>

{% endblock %}