{% extends "base.html" %}

{% block content %}
<!-- Recipes by Tag Section -->
<div class="section">
    <div class="container">
        <h4 class="center-align">Recipes with Tag: {{ tag }}</h4>
        <div class="row">
            {% for recipe in recipes %}
            <div class="col s12 m6 l4">
                <a href="{{ url_for('get_recipe', recipe_id=recipe['_id']) }}" class="card-link">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ recipe['image_url'] }}" alt="{{ recipe['title'] }}">
                        </div>
                        <div class="card-content">
                            <span class="card-title">{{ recipe['title'] }}</span>
                            <p> {{ recipe['cook_time'] }} | Serves: {{ recipe['servings'] }}</p>
                        </div>
                        <div class="card-action">
                            <span class="teal-text">View Recipe</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
